//--------------------------------------------------------------
// Global SCSS
//--------------------------------------------------------------

//--------------------------------------------------------------
// Location Finder Start
//--------------------------------------------------------------

/*
 * Widget Wrapper
 *
 */

 .showcase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

/* Responsive layout - makes the navigation and map (inside the showcase) sit on top of each other instead of next to each other */
@media (max-width: 960px) {
    .showcase {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100vh;
    }
}

.title-find {
    padding: 20px 0;
    text-align: center;
    font-size: 26px;
}

/*
 * Navigation & Info Containers (Left)
 * ---------------------
 * Master containers which holds filter, listings and info containers
 */
.nav-container,
.branch-info-container,
.other-info-container {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 10vw;
        flex-basis: 10vw; /* Set the initial width of the nav-container */
    max-width: 500px;
    min-width: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* To smooth any scrolling behavior */
}

@media (max-width: 960px) {
    .nav-container,
    .branch-info-container,
    .other-info-container {
        -ms-flex-preferred-size: 40vw;
            flex-basis: 60vw; /* Increase the height of the nav-container on mobile */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: none;
        min-width: auto;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; /* Position below map on mobile */
    }
}

/* Animate Containers */
.branch-info-container,
.other-info-container {
    /* Animate on render */
    opacity: 0;
    -webkit-animation: fade-in-right ease 0.4s forwards;
            animation: fade-in-right ease 0.4s forwards;
}

/* Close Containers & Buttons */
.branch-close-container,
.other-info-close-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px 20px 0 20px;
    height: 80px;
}

@media (max-width: 960px) {
    .branch-close-container {
        padding: 0 20px 0 20px;
        height: 64px;
    }
}
.branch-photo {
    width: 100%;
    padding-top: 66.6%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: cover;
}
.close-button {
    height: 80px;
    width: 30px;
}

.close-button .svg-icon {
    width: 32px;
}

/* Headers */
.branch-header,
.other-info-header {
    padding: 0 20px;
}

/* Bodies */
.branch-body,
.other-info-body {
    padding: 20px 20px 40px 20px;
}

/*
 * Nav Filters Container
 * ---------------------
 * Contains search and filters.
 */

/* Search and Near Me container */
.search-near-me-container {
    display: flex;
    padding: 5px;
}

/* Search */
.search-container {
    width: 66%;
    padding: 5px 5px 5px 10px;
    border: 1px solid #b8c1cb;
    border-radius: 6px;
}

.search-inner-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-form {
    width: 100%;
}

.search-input {
    width: 100%;
    background: none;
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.search-input::-ms-clear {
    display: none; /* Hide "clear field" icon on Internet Explorer */
}

.search-input:focus {
    outline: none;
}

/* Search Button */
.search-button {

}

.search-button .svg-icon,
.clear-search-button .svg-icon {
    width: 16px;
}

/* Clear Search Button */
.clear-search-button {
    display: none;
}


/* Near Me */
.nav-filter.near-me {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 33%;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    cursor: pointer;
    border: 1px solid #b8c1cb;
    border-radius: 6px;
}

.nav-filter.near-me svg {
    position: relative;
    top: 0;
    right: 0;
    width: 24px;
}

.nav-filter.near-me span {
    font-size: 14px;
    padding: 0 0 0 2px;
}

.nav-filter .spinner {
    display: none;
}

.nav-filter.loading .spinner {
    display: block;
}

.nav-filter.loading .near,
.nav-filter.active .near {
    display: none;
}

/* Filters */
.nav-filters-container {
    padding: 10px 20px 0 20px;
}

.nav-filters-group {
    display: flex;
    flex-wrap: wrap;
}

.nav-filter {
    flex: 1;
    position: relative;
    padding: 5px;
}

// @media (max-width: 960px) {
//     .nav-filter {
//         height: 100px;
//     }
// }

.nav-filter:hover {
    .nav-filter-inner-wrapper {
        background-color: #f5f4f4;
        -webkit-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
}

.nav-filter-inner-wrapper {
    position: relative;
    height: 100px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px solid #b8c1cb;
    border-radius: 6px;
    background-color: #fff;
}

.nav-filter p {
    padding: 0 0 10px;
    margin: 0;
    font-size: 13px;
    line-height: 1.2;
}

/* Pins and dots */
.nav-filter .pin,
.nav-filter .dot {
    display: inline-block;
    width: 38px;
    margin: 5px 0 0 0;
}

@media (max-width: 960px) {
    .nav-filter .pin,
    .nav-filter .dot {
        width: 36px;
        margin: 0;
    }
}

.nav-filter .checkmark-icon {
    display: none; /* Checkmark not displayed initially unless active */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    margin: 0 2px 0 0;
}

.nav-filter.active .checkmark-icon {
    display: block; /* If navfilter active, show checkmark */
}

/*
 * Branches List Container
 * -----------------------
 * Contains listings of rendered locations
 */

/* Container */
.branch-list-container {
    padding: 10px 0 0 0;
}

/* Single List Item */
.branch-list-single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Create a flex container */

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; /* Put flex items into a row */

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* Vertical align center */

    padding: 20px 20px;
    border-top: 1px solid #b8c1cb;
    cursor: pointer;    
    width: 100%;
    text-align: left;
}

    /* Left */
    .branch-list-left {
        min-width: 70px;
    }

    .branch-list-left img {
        width: 42px;
        margin: 0;
    }

    /* Right */
    .branch-list-right {
        width: 100%;
    }

.branch-list-single:first-child {
    border-top: none;
}

.branch-list-single:hover {
    background-color: #f5f4f4;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}


/* Title */
.branch-list-title {
    font-size: 16px;
    width: 70%;
}

/* Hours */
.branch-list-hours {
    color: #717171;
    font-size: smaller;
    padding: 4px 0 0 0;
}

/* Distance */
.branch-list-distance {
    float: right;
    font-size: 15px;
}

/*
 * Branches Info Container
 * -----------------------
 * Contains all the information of a selected location
 */

/* Title */
.branch-title,
.other-info-title {
    font-size: 26px;
}

/* Phone */
.branch-phone {
    margin-top: 20px;
}

.branch-phone a,
.branch-direction a {
    display: block;
    padding: 16px;
    text-align: center;
    background-color: #ececec;
    margin: 12px 0;
}

.branch-phone a:hover,
.branch-direction a:hover {
    background-color: #000;
    color: #fff;
}

/* Hours */
.branch-hours-container,
.branch-drive-thru-hours-container,
.branch-phone-numbers-container,
.branch-websites-container,
.branch-services-container {
    margin-top: 30px;
}

/* Drive-Thru Hours */
.branch-drive-thru-hours-container {

}

/* Tables */
.info-table {
    width: 100%;
    border-spacing: 0;
}

.info-table td {
    padding: 12px 0;
    border-top: 1px solid #b8c1cb;
}
// TODO: it may be helpful to namespace all of these styles under .bloomcu-locations
.bloomcu-locations {
    table tbody tr {
        background-color: transparent !important;
    }
}


.info-table tr td:last-child {
    text-align: right;
}

/*
 * Other Info Container
 * -------------
 * Holds any information appended to it we need to show the user
 */
.other-info-container {
    /* Animate on render */
    opacity: 0;
    -webkit-animation: fade-in-right ease 0.4s forwards;
            animation: fade-in-right ease 0.4s forwards;
}
.other-info-header {

}


/*
 * Map Container (Right)
 * -------------
 * Contains the Google Map
 */
.map-container {
    -ms-flex: 3;
    -webkit-box-flex: 3;
            flex: 3;
}

/* Responsive layout - make the map half height */
@media (max-width: 960px) {
    .map-container {
        -ms-flex: 1;
        -webkit-box-flex: 1;
                flex: 1;
    }
}

/* Google Map */
#map {
    height: 100%;
    width: 100%;
}

/*
 * Global Utilitie Styles
 * -------------
 */

/* Layout */
 .block {
     display: block;
 }

/* Icon Buttons */
.svg-button {
    background: transparent;
    border: 0;
}

.svg-icon {
    background: transparent;
    display: block;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000;
}

.svg-icon:focus {
    outline: none;
}

.svg-icon.spinner {
    animation: spin 1.3s linear infinite;
    background: transparent;
}

/*
 * Animations
 */

/* Fades */
@-webkit-keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translateX(-15px);
                transform: translateX(-15px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
.search-info-trigger {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: auto;
}

/* Spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//--------------------------------------------------------------
// Location Finder End
//--------------------------------------------------------------
